@{
    ViewData["Title"] = "Cuddlefish Diet Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Top 2 Cuddlefish Diet Facts</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol>
            <li><h2>Young cuddlefish generally dine on small shrimp.</h2></li>
            <li><h2>Mature cuddlefish generally prefer a diet of crabs and fish.</h2></li>
        </ol>       
    </div>
</div>