@{
    ViewData["Title"] = "Cuddlefish Diet Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>The Cuddlefish Diet</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
       Young cuddlefish generally dine on small shrimp.
    </div>
    <div class="col-md-6">
        Mature cuddlefish generally prefer a diet of crabs and fish.
    </div>
</div>