@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>The Cuddlefish for Children ages 6-10</h1>
        <h2>An informative and super awesome site to teach you everything you need to know about cuddlefish.</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="/images/homepage/cuttlefish1.jpg" style="text-align:center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis augue, tempor vitae arcu commodo, convallis lobortis mi. Morbi egestas congue sem, eu lacinia leo tempor nec. Donec volutpat magna a orci luctus congue. Quisque sed justo sapien. Nam porttitor ante sapien, et blandit odio viverra sed. Aenean molestie arcu erat, et dictum ipsum accumsan egestas. Vivamus lobortis sed lorem ut mattis. Duis euismod risus non quam lobortis finibus. Donec purus tellus, vulputate vitae erat eget, facilisis commodo ante. Vestibulum ac sollicitudin elit. In tellus tortor, tempus ac dictum eget, varius ut tortor. In efficitur nisi a pharetra placerat. Aliquam tincidunt consectetur faucibus. Integer finibus, risus porta mollis cursus, libero augue iaculis eros, a lobortis diam enim a ligula. Cras vel consequat erat, sagittis iaculis libero. Vivamus semper elit egestas elementum egestas.
    
        Proin urna orci, dignissim et mauris vel, mollis sollicitudin mauris. Proin mi mi, ornare in eros a, luctus finibus dolor. Fusce tempor consequat enim at mollis. Morbi porta tortor enim, at commodo est consequat in. Duis ipsum erat, tincidunt ut consequat vel, lobortis ac magna. Duis aliquam libero sit amet turpis rhoncus suscipit. Sed pretium urna et orci tincidunt, eget bibendum libero fringilla. Vivamus ut turpis eget erat placerat placerat. Phasellus sit amet facilisis nunc. Fusce sollicitudin ultricies scelerisque. Etiam ornare leo id nisl suscipit vestibulum. Cras et sodales lacus. Suspendisse lacinia, ex sit amet hendrerit congue, enim tellus feugiat mi, id tincidunt quam metus vel lacus. Praesent eget lacinia risus, ac aliquet nisi. Sed at iaculis sapien. Nullam placerat finibus tellus, at tincidunt nisi tempor quis.
    </div>
    <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis augue, tempor vitae arcu commodo, convallis lobortis mi. Morbi egestas congue sem, eu lacinia leo tempor nec. Donec volutpat magna a orci luctus congue. Quisque sed justo sapien. Nam porttitor ante sapien, et blandit odio viverra sed. Aenean molestie arcu erat, et dictum ipsum accumsan egestas. Vivamus lobortis sed lorem ut mattis. Duis euismod risus non quam lobortis finibus. Donec purus tellus, vulputate vitae erat eget, facilisis commodo ante. Vestibulum ac sollicitudin elit. In tellus tortor, tempus ac dictum eget, varius ut tortor. In efficitur nisi a pharetra placerat. Aliquam tincidunt consectetur faucibus. Integer finibus, risus porta mollis cursus, libero augue iaculis eros, a lobortis diam enim a ligula. Cras vel consequat erat, sagittis iaculis libero. Vivamus semper elit egestas elementum egestas.
    
        Proin urna orci, dignissim et mauris vel, mollis sollicitudin mauris. Proin mi mi, ornare in eros a, luctus finibus dolor. Fusce tempor consequat enim at mollis. Morbi porta tortor enim, at commodo est consequat in. Duis ipsum erat, tincidunt ut consequat vel, lobortis ac magna. Duis aliquam libero sit amet turpis rhoncus suscipit. Sed pretium urna et orci tincidunt, eget bibendum libero fringilla. Vivamus ut turpis eget erat placerat placerat. Phasellus sit amet facilisis nunc. Fusce sollicitudin ultricies scelerisque. Etiam ornare leo id nisl suscipit vestibulum. Cras et sodales lacus. Suspendisse lacinia, ex sit amet hendrerit congue, enim tellus feugiat mi, id tincidunt quam metus vel lacus. Praesent eget lacinia risus, ac aliquet nisi. Sed at iaculis sapien. Nullam placerat finibus tellus, at tincidunt nisi tempor quis.
    </div>
</div>